@use "./../../styles/theme" as *;

.input{
    background-color: transparent;
    text-align: center;
    padding: 0.8rem;
    border: 0.2rem solid transparent;
    border-bottom: 0.2rem solid $primary;
    color: $text-default;
    font-size: 1.8rem;
    outline: none;
    transition: all 0.3s ease-in-out;
    &:focus{
        border: 0.2rem solid $primary;
        border-radius: 0.8rem;
    }
    &::placeholder{
        color: $gray-500;
        font-size: 1.4rem;
        font-style: italic;
    }
    &:disabled{
        border-bottom: 0.2rem solid $disabled;
        color: $text-muted;
    }
}