@use "./../../styles/theme" as *;

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 4.2rem;
    margin: 3.2rem 0;
    li{
        a{
            color: $gray-900;
            background-color: $primary;
            transition: all 0.3s ease-in-out;
            border-radius: .8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.2rem;
            svg{
                width: 3rem;
                height: 3rem;
            }
            &:hover{
                filter: brightness(80%);
            }
        }
    }
}





  
    

