@use "./../../styles/theme" as *;

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 4.2rem;
    font-weight: bold;
    margin: 5.2rem 0;
    color: $primary;
    transition: all 0.3s ease-in-out;
    svg{
        width: 6.4rem;
        height: 6.4rem;
    }
    &:hover{
        filter: brightness(80%);
    }
}
